<!DOCTYPE html>
<html>
<!--
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNNNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmddyyso++//////++++osyhdmNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmhyo+///////+++oooooo+++///////+sydNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMNdyo+////+osyhdmNNNNNNMMMNNNNNmdhyo+////++ydNMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMmhs+////oshmNNMMMMMMMMMMMMMMMMMMMMMMMMNNdyo+///+sdNMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMy+///oydNNMMMMMMMMMNNmmdddddddmmmNMMMMMMMMMMNdy+///+yMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMNyshmNMMMMMMMMmdhso++///////////+++sydmNMMMMMMMNmy++sMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmds++//+osyhdmmmmmmmmdhyoo+//+ohmMMMMMMMNNMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMmyo//+oydmNMMMMMMMMMMMMMMMMMNNmyo+//oymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMd+/oydNMMMMMMMMMMMNNNNNNMMMMMMMMMMNds+//yMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMmmMMMMMMMMMNmhysoooooooosydmNMMMMMMMNhhmMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmho++osyddmmmmdhys++oymNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmo+oydNMMMMMMMMMMMMMMmho/+hMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNdmMMMMMMMMMMMMMMMMMMMMMmyhMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmysssydMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMs///////oNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMh/////////sMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMh/////////yMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMy+////////yMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMy//////shmMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMs////////+yNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMs////////+///ohMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMs////////dMdy+///ymMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMs////////hMMMMMNdyo++yhdmMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMs////////yMMMMMMMMMMMNdh//dMMMNmdNMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMd/////////hMMMNmdhyysoooo//oso+///yMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMNdhhhhhhhho/////////ys+////////////////////yMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMNo//////////////////////////////////////////yMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMs////////////////////////////////////////ohhmMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMmhyo/////////////////////////////////////oy///dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMdo+//////////////////////////////////////+hNMh///dNmmddmmNMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMmo/////////////////////////////////////hmmmNMMMMh///+//////+oymMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMy///////oydmmy//+///////////////////////mMMMMMMMh+////+yyyys+///odMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMNo/////smMMMNN+/+Nms/////////////////////NMMMMMNo///so//dMMMMNms///sNMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMNNN////hMMMho++//yMMMy///////////////////:MMMMMMo///hMNo//sydNMMMd///sMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMmsso////ssso///////syhy///////////////////oMMMMMd///sMMN+/////+mMMMh///mMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMNNd///+mmm+///////oddh////sssssssssssssydNMMMMMh///hMMh///////yMMMd///dMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMM+///hMMmo/////omMMy///oMMMMMMMMMMMMmmmmmmmmMm///oMMNs+////oNMMMs///NMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMd////yNMMmdhdmMMms////mMMMMMMMMMMMMMMMMMMMMMMs///omMMmdddmMMMNs///yMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMd+////ohdmmmdyo////omMMMMMMMMMMNNNNNNNNNNNNMMy////sdNNNNNNds+///hMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMNh+/////////////ohMMMMMMMMNNNNNNNmmmmmmmmmNNMms+////++++////+smMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMmhso++/++oshmMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNdyo+///++oydNMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM

If you're looking, we're hiring :) - work+source@go-jek.com
-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <title>
    GO-JEK
  </title>
  <link href="../../assets/images/logo.png" rel="icon" type="image/png" />
  <!-- Preemptively open up connections for external assets -->
  <link rel="preconnect" href="//fonts.googleapis.com">
  <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" rel="stylesheet">
  <link href="../../assets/styles/index.css" rel="stylesheet" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@GO-JEK">
  <meta name="twitter:domain" content="www.gojekengineering.com">
  <meta name="twitter:creator" content="@GO-JEK">
  <meta name="twitter:title" content="GO-JEK">
  <meta name="twitter:image" content="www.gojekengineering.com/assets/images/logo.png">

  <meta property="og:url" content="http://gojekengineering.com" />
  <meta property="og:type" content="Engineering Website" />
  <meta property="og:title" content="GO-JEK" />
  <meta property="og:description" content="The GO-JEK Engineering team comprises of developers, data scientists, designers and product managers who work on product innovation, mining data and crafting consumer experiences. The company takes pride in its world-class product engineering team who have a deep-rooted passion for working with the engineering community in India on topics such as innovation and Open Source." />
  <meta property="og:image" content="www.gojekengineering.com/assets/images/logo.png" />

  <meta name="apple-mobile-web-app-title" content="GO-JEK">
  <meta name="description" content="GO-JEK is Indonesia’s first unicorn is currently the fastest growing start-up in South Asia and the largest in Indonesia in terms of valuation, funding raised and a number of transactions.">
  <link rel="canonical" href="http://gojekengineering.com">
  
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '298192794028685'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=298192794028685&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
</head>

<body class="partials partials_header partials_header_index">
<div class="navbar">
  <div class="container">
    <a href="/"><img src="../../assets/images/logo.svg" class="navbar__logo" alt="Logo" /></a>
    <div class="navbar__menu">
      <!--li class="navbar__menu__item ">
                <a href="/about.html">About</a>
            </li-->
      <li class="navbar__menu__item ">
        <a href="../../careers">Careers</a>
      </li>
      <li class="navbar__menu__item ">
        <a href="https://blog.gojekengineering.com" target="_blank">Blog</a>
      </li>
      <li class="navbar__menu__item ">
        <a href="https://github.com/gojek-engineering" target="_blank">Open Source</a>
      </li>
      <li class="navbar__menu__item ">
        <a href="../../news">News</a>
      </li>
      <li class="navbar__menu__item ">
        <a href="../../contact">contact</a>
      </li>
    </div>
    <div class="navbar__menu__slider">
      <p class="menu-button" data-activates="slideout">
        <img src="../../assets/images/menu.svg" class="menu-image" alt="Menu" />
      </p>
      <div class="slider slider--right" id="slideout">
        <ul class="menu">
          <!--li class="navbar__menu__item ">
                        <a href="/about.html">About</a>
                    </li-->
          <li class="navbar__menu__item ">
            <a href="../../careers">Careers</a>
          </li>
          <li class="navbar__menu__item ">
            <a href="https://blog.gojekengineering.com" target="_blank">Blog</a>
          </li>
          <li class="navbar__menu__item ">
            <a href="https://github.com/gojek-engineering" target="_blank">Open Source</a>
          </li>
          <li class="navbar__menu__item ">
            <a href="../../news">News</a>
          </li>
          <li class="navbar__men xbu__item ">
            <a href="../../contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar">
  <div class="container">
    <a href="/"><img src="../../assets/images/logo.svg" class="navbar__logo" alt="Logo" /></a>
    <div class="navbar__menu">
      <!--li class="navbar__menu__item ">
                <a href="/about.html">About</a>
            </li-->
      <li class="navbar__menu__item ">
        <a href="../../careers">Careers</a>
      </li>
      <li class="navbar__menu__item ">
        <a href="https://blog.gojekengineering.com" target="_blank">Blog</a>
      </li>
      <li class="navbar__menu__item ">
        <a href="https://github.com/gojek-engineering" target="_blank">Open Source</a>
      </li>
      <li class="navbar__menu__item ">
        <a href="../../news">News</a>
      </li>
      <li class="navbar__menu__item ">
        <a href="../../contact">contact</a>
      </li>
    </div>
    <div class="navbar__menu__slider">
      <p class="menu-button" data-activates="slideout">
        <img src="../../assets/images/menu.svg" class="menu-image" alt="Menu" />
      </p>
      <div class="slider slider--right" id="slideout">
        <ul class="menu">
          <!--li class="navbar__menu__item ">
                        <a href="/about.html">About</a>
                    </li-->
          <li class="navbar__menu__item ">
            <a href="../../careers">Careers</a>
          </li>
          <li class="navbar__menu__item ">
            <a href="https://blog.gojekengineering.com" target="_blank">Blog</a>
          </li>
          <li class="navbar__menu__item ">
            <a href="https://github.com/gojek-engineering" target="_blank">Open Source</a>
          </li>
          <li class="navbar__menu__item ">
            <a href="../../news">News</a>
          </li>
          <li class="navbar__men xbu__item ">
            <a href="../../contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer">
    <div class="container">
      <ul class="footer__menu__top">
        <li class="footer__menu__item">
          <a href="../../">home</a>
        </li>
        <!--li class="footer__menu__item">
                    <a href="/about.html">About</a>
                </li-->
        <li class="footer__menu__item">
          <a href="../../careers">careers</a>
        </li>
        <!--li class="footer__menu__item">
                    <a href="/team.html">team</a>
                </li-->
        <li class="footer__menu__item">
          <a href="mailto:work+website@go-jek.com">work@go-jek.com</a>
        </li>
        <li class="footer__menu__item">
          <a href="../../contact">contact</a>
        </li>
        <li class="footer__menu__item">
          <a href="https://blog.gojekengineering.com/" target="_blank">Blog</a>
        </li>
      </ul>
      <div class="pure-g">
        <div class="pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-3 pure-u-sm-1 pure-u-1">
          <ul class="footer__menu__bottom">
            <li class="footer__menu__item">
              <a href="/"><img src="../../assets/images/logo.svg" class="navbar__logo" alt="Logo" /></a>
            </li>
          </ul>
        </div>
        <div class="pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-3 pure-u-sm-1 pure-u-1">
          <ul class="footer__menu__bottom footer__apps">
            <li class="footer__menu__item footer__apps__title">Download app</li>
            <li class="footer__menu__item">
              <a href="https://play.google.com/store/apps/details?id=com.gojek.app" target="_blank"><img src="../../assets/images/footer/playstore.svg" class="footer__icon" alt="Playstore" /></a>
            </li>
            <li class="footer__menu__item">
              <a href="https://itunes.apple.com/dm/app/go-jek/id944875099?mt=8" target="_blank"><img src="../../assets/images/footer/apple.svg" class="footer__icon" alt="Apple" /></a>
            </li>
          </ul>
        </div>
        <div class="pure-u-xl-1-3 pure-u-lg-1-3 pure-u-md-1-3 pure-u-sm-1 pure-u-1">
          <ul class="footer__menu__bottom footer__social">
            <li class="footer__menu__item">
              <a href="http://www.facebook.com/gojektech" target="_blank"><img src="../../assets/images/social/facebook.svg" class="footer__social__icon" alt="Facebook" /></a>
            </li>
            <li class="footer__menu__item">
              <a href="http://www.twitter.com/gojektech" target="_blank"><img src="../../assets/images/social/twitter.svg" class="footer__social__icon" alt="Twitter" /></a>
            </li>
            <li class="footer__menu__item">
              <a href="http://www.instagram.com/gojek.tech" target="_blank"><img src="../../assets/images/social/instagram.svg" class="footer__social__icon" alt="Instagram" /></a>
            </li>
            <li class="footer__menu__item">
              <a href="https://www.linkedin.com/company/10670234/" target="_blank"><img src="../../assets/images/social/linkedin.svg" class="footer__social__icon" alt="Linkedin" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80421053-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
  // Slider handler

  function sliderHandler() {
    var sliders = document.getElementsByClassName('slider');

    for (var i = 0; i < sliders.length; i++) {
      var slider_id         = sliders[i].getAttribute('id');
      var action_button     = document.querySelector('[data-activates=' + slider_id + ']');
      action_button.onclick = function () {
        event.stopPropagation();
        var name = this.getAttribute('data-activates');
        document.getElementById(name).classList.add('opened');
        document.getElementById(name).style.transform = 'translateX(0)';
        wnidowClickHandler();
      };
    }
  }

  function wnidowClickHandler() {
    // when user click outside window close it
    window.onclick = function (event) {
      var element = document.getElementsByClassName('slider opened');
      var name    = element[0].getAttribute('id');
      if (element.length) {
        if (event.target !== element[0] && !element[0].contains(event.target)) {
          document.getElementById(name).classList.remove('opened');
          if (document.getElementById(name).classList.contains('slider--right')) {
            document.getElementById(name).style.transform = 'translateX(105%)';
          } else {
            document.getElementById(name).style.transform = 'translateX(-105%)';
          }
          window.onclick = null;
        }
      }
    };
  }

  sliderHandler();
</script>

</body>

</html>
