$white: #fff !default;
$black: #000 !default;

$green-100: #8dc63f !default;
$green-200: #086c35 !default;
$green-300: #086c35 !default;
$green-400: #009944 !default;

$gray-500: #040404 !default;
$gray-400: #686868 !default;
$gray-300: #a5a5a5 !default;
$gray-200: #9a9a9a !default;



