.slick-next {
	right: 0px !important;
}
.slick-list {
	width: 100% !important;
}

.slick-prev {
	left: 0px !important;
}

.lg-controls-dark .slick-next:before,
.lg-controls-dark .slick-prev:before {
	color: #fff;
}

.lg-controls-dark .slick-next,
.lg-controls-dark .slick-next:hover,
.lg-controls-dark .slick-next:focus,
.lg-controls-dark .slick-prev,
.lg-controls-dark .slick-prev:hover,
.lg-controls-dark .slick-prev:focus {
	width: 30px;
	height: 30px;
	background-color: #000;
}

.slick-next,
.slick-prev {
	z-index: 99;
}

.tech-facts-slider .slick-slide {
	padding: 0px 5px;
}

.custom-controls-light .slick-prev:before,
.custom-controls-light .slick-next:before {
	color: black;
}

.slick-slide {
	transition: all ease-in-out .3s;
	padding: 0px 20px;
	opacity: 0.2;
}

.slick-active,
.slick-current {
	opacity: 1;
}

.go-jek-slider .slick-slide {
	margin: 0px;
}

.go-jek-slider .slick-active {
	opacity: 0.2;
}

.go-jek-slider .slick-current,
.slick-current {
	opacity: 1;
}

.impact-slider .slick-slide,
.go-jek-slider .slick-slide {
	padding: 0px;
}

.impact-slider .slick-active {
	opacity: 0.1;
	pointer-events: none;
}

.impact-slider .slick-current {
	opacity: 1;
	pointer-events: visible;
	cursor: pointer;
}

.slick-next:before,
.slick-prev:before {
	font-family: 'FontAwesome' !important;
}

.slick-next:before {
	content: '\f054' !important;
	font-family: 'Font Awesome 5 Free';
}

.slick-prev:before {
	content: "\f053" !important;
}

@media (min-width: 320px) and (max-width: 480px) {
	.custom-controls-dark .slick-next:before,
	.custom-controls-dark .slick-prev:before {
		color: #fff;
		opacity: 1;
	}
	.custom-controls-dark .slick-next,
	.custom-controls-dark .slick-next:hover,
	.custom-controls-dark .slick-next:focus,
	.custom-controls-dark .slick-prev,
	.custom-controls-dark .slick-prev:hover,
	.custom-controls-dark .slick-prev:focus {
		width: 30px;
		height: 30px;
		background-color: #000;
	}
	.custom-controls-light .slick-next,
	.custom-controls-light .slick-next:hover,
	.custom-controls-light .slick-next:focus,
	.custom-controls-light .slick-prev,
	.custom-controls-light .slick-prev:hover,
	.custom-controls-light .slick-prev:focus {
		width: 30px;
		height: 30px;
		background-color: #fff;
	}
}

// Changes to basic styles of Slick slider
.slick-dots li.slick-active button:before {
	opacity: 1;
	color: green !important;
}
.slick-dots li button:before {
    font-size: 10px !important;
}
.home-slider .slick-prev{
	left: 20px !important;
}
.home-slider .slick-next {
	right: 20px !important;
}
.home-slider .slick-dots {
	display: none !important;
}