
  audio,
  
  canvas,
  
  iframe,
  
  img,
  
  svg,
  
  video {
  
    vertical-align: middle;
  
  }
  
  
  
  /*
  
   * Remove default fieldset styles.
  
   */
  
  
  
  fieldset {
  
    border: 0;
  
    margin: 0;
  
    padding: 0;
  
  }
  
  
  
  /*
  
   * Allow only vertical resizing of textareas.
  
   */
  
  
  
  textarea {
  
    resize: vertical;
  
  }
  
  
  
  /* ==========================================================================
  
     Browser Upgrade Prompt
  
     ========================================================================== */
  
  
  
  .browserupgrade {
  
    margin: 0.2em 0;
  
    background: #ccc;
  
    color: #000;
  
    padding: 0.2em 0;
  
  }
  
  
  
  /* ==========================================================================
  
     Custom styles
  
     ========================================================================== */
  
  
  
  /* Navbar style */
  
  button.navbar-toggler {
  
    border: none;
  
  }
  
  
  
  /* Header Styles */
  
  .navbar {
  
    box-shadow: 0px 4px 8px 2px rgba(17, 17, 17, 0.06);
  
  }
  
  
  
  /* .navbar-brand > img {
  
    width: 120px;
  
  } */
  
  
  
  /* .navbar-light .navbar-nav .nav-link {
  
    color: #686868;
  
    padding-right: 3rem;
  
  } */
  
  
  
  .navbar-light .navbar-nav .active>.nav-link,
  
  .navbar-light .navbar-nav .nav-link:focus,
  
  .navbar-light .navbar-nav .nav-link:hover {
  
    color: #009944;
  
  }
  
  
  
  .section-sub-head,
  
  .btn-cta,
  
  .job-apply {
  
    color: #009944;
  
    font-size: 1.3125rem;
  
    font-weight: bold;
  
    text-transform: uppercase;
  
  }
  
  
  
  .section-sub-head,
  
  .btn-cta {
  
    letter-spacing: 0.18rem;
  
    margin-bottom: 0;
  
    font-family: 'Roboto', sans-serif;
  
  }
  
  
  
  .section-head {
  
    font-size: 3.25rem;
  
    line-height: 3.4rem;
  
    margin-bottom: 20px;
  
    font-family: 'Raleway', sans-serif;
  
  }
  
  
  
  .section-desc {
  
    color: hsl(0, 0%, 41%);
  
    /* max-width: 450px; */
  
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
  }
  
  
  
  .btn-cta {
  
    border-radius: 0.625rem;
  
    margin-top: 2rem;
  
    padding: 0.5rem 0;
  
    width: 26rem;
  
  }

  .btn-cta.btn-outline-light:hover {
    color: #094 !important;
}
  
  
  
  .job-title {
  
    color: #000000;
  
    font-size: 1.3125rem;
  
    font-weight: bold;
  
    min-width: 250px;
  
  }
  
  
  
  .social-icons a {
  
    color: #9e9e9e;
  
    padding-right: 1rem;
  
    font-size: 1.5rem;
  
  }
  
  
  
  footer .tc-text a,
  
  .nav-link.disabled {
  
    color: #9e9e9e;
  
    font-size: 0.8rem;
  
    letter-spacing: 1.4px;
  
  }
  
  
  
  /* ==========================================================================
  
     Helper classes
  
     ========================================================================== */
  
  
  
  /*
  
   * Hide visually and from screen readers
  
   */
  
  
  
  .hidden {
  
    display: none !important;
  
  }
  
  
  
  /*
  
   * Hide only visually, but have it available for screen readers:
  
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  
   *
  
   * 1. For long content, line feeds are not interpreted as spaces and small width
  
   *    causes content to wrap 1 word per line:
  
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  
   */
  
  
  
  .visuallyhidden {
  
    border: 0;
  
    clip: rect(0 0 0 0);
  
    height: 1px;
  
    margin: -1px;
  
    overflow: hidden;
  
    padding: 0;
  
    position: absolute;
  
    width: 1px;
  
    white-space: nowrap; /* 1 */
  
  }
  
  
  
  /*
  
   * Extends the .visuallyhidden class to allow the element
  
   * to be focusable when navigated to via the keyboard:
  
   * https://www.drupal.org/node/897638
  
   */
  
  
  
  .visuallyhidden.focusable:active,
  
  .visuallyhidden.focusable:focus {
  
    clip: auto;
  
    height: auto;
  
    margin: 0;
  
    overflow: visible;
  
    position: static;
  
    width: auto;
  
    white-space: inherit;
  
  }
  
  
  
  /*
  
   * Hide visually and from screen readers, but maintain layout
  
   */
  
  
  
  .invisible {
  
    visibility: hidden;
  
  }
  
  
  
  /*
  
   * Clearfix: contain floats
  
   *
  
   * For modern browsers
  
   * 1. The space content is one way to avoid an Opera bug when the
  
   *    `contenteditable` attribute is included anywhere else in the document.
  
   *    Otherwise it causes space to appear at the top and bottom of elements
  
   *    that receive the `clearfix` class.
  
   * 2. The use of `table` rather than `block` is only necessary if using
  
   *    `:before` to contain the top-margins of child elements.
  
   */
  
  
  
  .clearfix:before,
  
  .clearfix:after {
  
    content: " "; /* 1 */
  
    display: table; /* 2 */
  
  }
  
  
  
  .clearfix:after {
  
    clear: both;
  
  }
  
  
  
  /* ==========================================================================
  
     EXAMPLE Media Queries for Responsive Design.
  
     These examples override the primary ('mobile first') styles.
  
     Modify as content requires.
  
     ========================================================================== */
  
  
  
  @media only screen and (max-width: 576px) {
  
    /* Style adjustments for viewports that meet the condition */
  
    body {
  
      font-size: 12px;
  
    }
  
  
  
    .btn-cta {
      max-width: 23rem;
    }
    /* .embed-video {
      margin-top:2.5rem;
    } */
  }
  
  @media print,
  
    (-webkit-min-device-pixel-ratio: 1.25),
  
    (min-resolution: 1.25dppx),
  
    (min-resolution: 120dpi) {
  
    /* Style adjustments for high resolution devices */
  
  }
  
  
  
  /* ==========================================================================
  
     Print styles.
  
     Inlined to avoid the additional HTTP request:
  
     https://www.phpied.com/delay-loading-your-print-css/
  
     ========================================================================== */
  
  
  
  @media print {
  
    *,
  
    *:before,
  
    *:after {
  
      background: transparent !important;
  
      color: #000 !important; /* Black prints faster */
  
      -webkit-box-shadow: none !important;
  
      box-shadow: none !important;
  
      text-shadow: none !important;
  
    }
  
  
  
    a,
  
    a:visited {
  
      text-decoration: underline;
  
    }
  
  
  
    a[href]:after {
  
      content: " (" attr(href) ")";
  
    }
  
  
  
    abbr[title]:after {
  
      content: " (" attr(title) ")";
  
    }
  
  
  
    /*
  
       * Don't show links that are fragment identifiers,
  
       * or use the `javascript:` pseudo protocol
  
       */
  
  
  
    a[href^="#"]:after,
  
    a[href^="javascript:"]:after {
  
      content: "";
  
    }
  
  
  
    pre {
  
      white-space: pre-wrap !important;
  
    }
  
    pre,
  
    blockquote {
  
      border: 1px solid #999;
  
      page-break-inside: avoid;
  
    }
  
  
  
    /*
  
       * Printing Tables:
  
       * http://css-discuss.incutio.com/wiki/Printing_Tables
  
       */
  
  
  
    thead {
  
      display: table-header-group;
  
    }
  
  
  
    tr,
  
    img {
  
      page-break-inside: avoid;
  
    }
  
  
  
    p,
  
    h2,
  
    h3 {
  
      orphans: 3;
  
      widows: 3;
  
    }
  
  
  
    h2,
  
    h3 {
  
      page-break-after: avoid;
  
    }
  
  }
  
  .btn-cta-lg {
    width:30rem;
  }
  
  .section-numb {
      font-family: "Roboto", sans-serif;
     font-size: 3.25rem !important;
     font-weight: 900;
  }
  
  .btn-cta-lg {
  
    width:30rem;
  
  }
  .section-numb {
     font-family: "Roboto", sans-serif;
    font-size: 3.25rem !important;
    font-weight: 900;
  }

  @media (min-width: 1450px) and (max-width: 2000px) {
    /* Rakesh */
  .test {
      position: absolute;
      right: 0;
      width: 14%;
      margin-top:-7%;
  }
}
/* Rakesh code */
  @media (max-width: 2560px) {
    /* Rakesh */
  .test {
      position: absolute;
      right: 0;
      width: 14%;
      margin-top:-8%;
  }
  .testr1 {
      position: absolute;
      right: 0;
      width: 14%;
      margin-top:-16%;
  }
  .testr2 {
     position: absolute;
      right: 0;
      width: 14%;
      margin-top:-10%;
      z-index:22;
  }
  .testLeft {
    position: absolute;
      left: 0;
      width: 10%;
      margin-top:-5%;
      z-index:22;
  }
}

@media (min-width: 768px) {
 
    .test {
        position: absolute;
        right: 0;
        width: 14%;
        margin-top:-6%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {

   .test {
       position: absolute;
       right: 0;
       width: 14%;
       margin-top:-6%;
   }
 }
  